---
version: "2.1"
services:
  nikomusic:
    image: zingytomato/nikomusic
    container_name: nikomusic
    env_file:
      - .env
    restart: unless-stopped
  lavalink:
    image: zingytomato/lavalink
    container_name: lavalink
    restart: unless-stopped
  jiosaavnapi:
    image: zingytomato/jiosaavnapi
    container_name: jiosaavnapi
    restart: unless-stopped
